body {
  font-family: Arial, sans-serif;
  border: 10;
  padding: 20px;
  border-color: green;
  background-color: black;
}

.const {
  width: 1320px;
  height: 168px;
  background-color: rgb(15 23 42);
}

#kmchead {
  margin-left: 144px;
}

.men {
  /* margin-bottom: 200px; */
  margin: 9px;
  background-color: transparent;
  margin-top: 0 auto;
  box-shadow: 0 0 30px red;
  border-radius: 10px;
  position: absolute;
}


#menu {
  margin-left: 600px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  padding-inline: 5px;
  position: relative;
}

#menu li {
  color: black;
  list-style: none;
  display: inline-block;
  background: #0ef;
  padding: 13px 35px;
  margin: 10;
  border: black;
  border-width: 5px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 50px rgb(41, 32, 172);
}

#menu li:hover {
  background-color: red;
  font-size: large;
  color: white;
}

#menu li a {
  text-decoration: none;
}

.kmcp {
  width: 109px;
  margin: 5px;
}

.header {
  background-color: white;
  border-radius: 20px;

}

.gende {
  color: white;
}

.gende:hover {
  color: #0ef;
}

.container {
  max-width: 600px;
  max-height: 100%;
  margin: 0 auto;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 50px rgb(32, 172, 69);
}


#formhead {
  border: rgb(168, 33, 33);
  border: 5px;
  text-align: center;
  color: red;
  border-left: black;
  border-right: black;
}

#menu li a:hover {
  color: white;
}

label {
  display: block;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="number"],
input[type="number"] {
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #cccccc;

}

.btn-submit {
  max-width: 100%;
  max-height: 40px;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #0ef;
  text-decoration: underline;
}

.formerror {
  color: red;
}

#sub {
  text-decoration: none;
}

.inputform {
  font: size 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
}

.inputbar {
  font: size 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
}

#img {
  width: 200px;
  height: 200px;
  margin-top: 0px;
}

.click {
  cursor: pointer;
}

#back {
  color: white;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 40px;
  margin-left: 5px;
  margin-top: 10px;
  border: 4px;
  border-radius: 5px;
  text-decoration: none;
}

#back:hover {
  color: #0ef;
  font-size: 18px;
}

.lab {
  cursor: pointer;
}